* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.print-add {
    display: none;
}

/**********  MOBILE FIRST - trying to, at least **********/

.desktop {
    display: none;
}

.mobile {
    display: block;
}

/********** HEADER styling **********/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 5%;
    height: 12vh;
    min-height: 5rem;
    position: sticky;
    top: 0;
    background-color: #f5f9f9;
    z-index: 1;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
}

.magda_en {
    font-weight: bolder;
    font-size: 1.3rem;
}

.magda_en a {
    text-decoration: none;
    color: black;
}

.magda_en span {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
    overflow: hidden;
    transition: all .5s;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    line-height: 1.8;
    /* margin-top: 1.5rem; */
    padding-right: 2rem;
}

.menu-item a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
    font-weight: 500;
    /* padding: 0.5em 0.5em; */
    padding: 0 0.5em;

    transition: font-weight 0.3s;
}

.menu-item a:hover {
    transform: scale(1.1);
    font-weight: bold;
}


.contact a {
    padding-right: 2px;
    padding-left: 2px;
}

/* .contact {} */

.contact p {
    display: inline;
}

.menu-item .active {
    text-decoration: underline;
}


#nav-toggle {
    display: none;
}

#nav-icon {
    display: block;
    position: relative;
    font-size: 1.5rem;
    z-index: 2;
}

#nav-toggle:checked~.menu {
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding-top: 6em;
    bottom: 0;
    overflow: visible;
}


/********** MAIN styling **********/
/* --PhoneInputCountryFlag-height {}
--PhoneInputCountryFlag-borderColor 
 --PhoneInputCountrySelectArrow-color
 . --PhoneInputCountrySelectArrow-opacity 
  --PhoneInput-color--focus */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 5%;
    min-height: 78vh;
}

main h4 {
    margin-top: 30px;
}

.pic-intro {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* margin-bottom: 20px; */
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
}

.pic-intro img {
    width: 100%;
    height: auto;
}

.site-welcome {
    margin: 20px 0;
    text-align: center;
}

.site-welcome h2 {
    font-size: 1.5rem;
}

.site-welcome p {
    font-size: 1rem;
}






.card-container {
    width: 100%;
    /* max-width: 1200px; */
    height: auto;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    overflow: hidden;
}

.card {
    height: 100%;
    max-height: 50vh;
    margin-bottom: 10px;
    margin-top: 10px;
    /* max-width: 300px;
    max-height: 200px; */
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    /* align-self: center; */
    box-sizing: border-box;
    overflow: hidden;
    /* border-bottom: 1px solid #f5f9f9; */
    border: 0;
    text-align: center;
}

/* .card:last-child {
    border-bottom: none;
} */

.card a {
    text-decoration: none;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
    /* width: 100%; */
    height: 100%;
    width: auto;
    /* object-fit: cover; */
    padding: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card-img {
    width: 70%;
    opacity: 90%;
    aspect-ratio: 4 / 3;
}

.card .popup-button {
    width: fit-content;
    align-items: center;
    border-radius: 5%;
    background-color: #f5f9f9;
    margin-top: 5%;
}

.card .popup-button i {
    opacity: 75%;
}

.card:hover {
    background-color: #f5f9f9;
    /* font-weight: 900; */
    border-style: ridge;
}

.card-portfolio-popup {
    background-color: rgb(223, 226, 228);
    padding: 2%;
    /* width: 75%; */
    border: 1px solid #888;
    display: none;
    position: absolute;
    /* top: 50%; */
    z-index: 1;
}

.card-portfolio-popup a {
    text-decoration: none;
    /* padding: 5% 0; */
}

.btn-primary {
    --bs-btn-bg: #4974b6;
    /* #5788D7 */
}

:target {
    display: block;
}

.GitHub-btn-link {
    font-size: 1rem;
}

.close {
    color: rgba(0, 0, 0, 0.2);
    float: right;
    font-size: 2rem;
    font-weight: bold;
    display: block;
}

.close:hover,
.close:focus {
    color: black;
    /* text-decoration: none; */
    cursor: pointer;
}

/* .menu-item {
    transition: transform 0.3s,
}

.menu-item:hover {
    transform: scale(1.1);
} */



.period {
    font-weight: 600;
}

.importantText {
    font-weight: 700;
}

.accordion-item :hover {
    background-color: #f5f9f9;
    /* font-weight: 900; */

}

/* 
.card-container .contact {
    align-items: flex-start;
} */

.contact .card {
    width: 20rem;
}

.contact .card-body {
    padding: 0;
}


.PhoneInput {
    width: 5rem;
    /* max-width: 14rem; */
    display: flex;
    align-items: center;
}

.PhoneInputCountry {
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    margin-right: 0.35em;
    margin-right: var(--PhoneInputCountrySelect-marginRight);
}

input:not(.react-phone-number-input__input) {
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-radius: 0.2em;
    border: 1px solid #cfcfcf;
    background-color: #fcfcfc;
    outline: none;
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
}

.PhoneInputInput {
    flex: 1;
    min-width: 10rem;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
    margin-block-end: 1em;
    --PhoneInput-color--focus: #03b2cb;
    --PhoneInputInternationalIconPhone-opacity: 0.8;
    --PhoneInputInternationalIconGlobe-opacity: 0.65;
    --PhoneInputCountrySelect-marginRight: 0.35em;
    --PhoneInputCountrySelectArrow-width: 0.3em;
    --PhoneInputCountrySelectArrow-marginLeft: var(--PhoneInputCountrySelect-marginRight);
    --PhoneInputCountrySelectArrow-borderWidth: 1px;
    --PhoneInputCountrySelectArrow-opacity: 0.45;
    --PhoneInputCountrySelectArrow-color: currentColor;
    --PhoneInputCountrySelectArrow-color--focus: var(--PhoneInput-color--focus);
    --PhoneInputCountrySelectArrow-transform: rotate(45deg);
    --PhoneInputCountryFlag-aspectRatio: 1.5;
    --PhoneInputCountryFlag-height: 1em;
    --PhoneInputCountryFlag-borderWidth: 1px;
    --PhoneInputCountryFlag-borderColor: rgba(0, 0, 0, 0.5);
    --PhoneInputCountryFlag-borderColor--focus: var(--PhoneInput-color--focus);
    --PhoneInputCountryFlag-backgroundColor--loading: rgba(0, 0, 0, 0.1);
}

/********** FOOTER styling **********/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 5%;
    height: 10vh;
    min-height: 3rem;
    background-color: #f5f9f9;
    /* border-top: 1px solid rgba(0, 0, 0, 0.2); */
    box-shadow: 0 0 2px 1px rgb(0 0 0 / 25%);
}

footer a {
    text-decoration: none;
    color: black;
    transition: font-weight 0.3s transform 0.3s;
    margin: 0 2px;
}

footer p a {
    transition: transform 0.3s;
}

footer a:hover {
    transform: scale(1.1);
    font-weight: bold;
}

.accordion-button {
    flex-direction: column;
    align-items: flex-start;
}

.about section {
    width: 100%;
    margin: 2% 0;
}

.lessImportantText {
    font-weight: 300;
}


/********** MEDIA QUERIES **********/

@media print {
    .print-remove {
        display: none !important;
    }

    .print-add {
        display: block;
    }
}

@media (min-aspect-ratio:1) {
    .card {
        max-height: 88vw;
    }

}

@media (min-width:850px) {

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    .card-container {
        justify-content: space-around;
    }

    /* .card-container .contact {
        justify-content: center;
    } */

    .card a {
        font-size: 1.1rem;
    }

    .card-portfolio-popup {
        width: 50%;
    }

    .section-cv {
        height: 600px;
    }
}

@media (min-width:1000px) {

    .magda_en {
        padding: 1rem 0.5rem;
        font-size: 1.5rem;
    }

    .magda_en span {
        font-size: 1.1rem;
    }

    #nav-icon {
        display: none;
    }

    #nav-toggle:checked~.menu {
        padding-top: 0;
    }

    .menu {
        flex-direction: row;
        overflow: visible;
        position: relative;
        background-color: #f5f9f9;
        padding-right: 0;
        margin-top: 0;
    }

    .menu-item a {
        font-size: 1.1rem;
        /* font-weight: 400; */
    }

    .site-welcome h2 {
        font-size: 1.8rem;
    }

    .card-img {
        width: 70%;
    }

    .portfolio {
        display: flex;
        justify-content: center;
        align-items: center;
    }


}